@media screen and (min-width: 769px) {
  /* Right-align navigation for desktop */
  nav ul {
    text-align: right;
  }
  /*///////////*/
  /* Font Face */
  /*///////////*/
  @font-face {
    font-family: 'Jost';
    src: url('fonts/jost.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  /*///////////////*/
  /* Page Elements */
  /*///////////////*/
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1c1c; /* Changed color code to hex format */
    height: 100vh;
    margin: 0;
  }

  p {
    color: white;
    background-color: #1d1c1c; /* Changed color code to hex format */
    font-size: 36px;
    font-weight: 900;
    font-family: 'Jost', sans-serif;
  }
}
